body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9db2d4;
}

h1 {
    text-align: center;
    color: #ffffff;
}

#wrapper {
    width: 50%;
    margin: auto;
    background:
}

#grades-amount {
    /* is the box for the first input */
    background-color: white;
}


.grades {
    /* background of fieldset */
    background-color: white;
    border: none;
    text-align: center;
    margin-bottom: 12px;
}

/* #form2{
    background-color: white;
    border: none ;
} */
.button {
    background-color: white;
    border: thin;
    width: 100%;
    padding: 5px;


}

#result {
    text-align: center;
    font-weight: bold;
}

fieldset {
    margin: 0;
}

.box {
    border: none;
    padding-top: 12px;
}